<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/cosmicsnaps-dev/icons8-space-shuttle-filled-100.png">
    <title>Cosmicsnaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
